/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #4d4d6e; 
    margin: 0;
    padding: 0;
  }
  
  /* Headings */
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #bbce15;
    margin: 1rem 0;
  }
  
  /* Buttons and Links */
  button, a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  button {
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4a8a6c;
    
  }
  
  /* Cards */
  .project-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
  
  /* Project Titles */
  .project-card h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #34414e;
  }
  p,ul {
    font-family: 'Montserrat', sans-serif; /* Modern and clean font */
    font-size: 1rem;                 /* Default size for good readability */
    line-height: 1.8;                /* Improve readability with better spacing */
    color: #0f0e0e;                     /* Neutral color for text */
    margin: 0 0 1rem;                /* Add consistent spacing below paragraphs */
  }
h4{
    font-family: "Montserrat";
    font-weight: bolder;
    line-height: 2;
    color: #0f0303;
    font-size: 1.2rem;
}